{% extends 'main/base.html' %}
{% load static %}
{% block content %}

    <!-- Start Banner Hero -->
    <div id="work_single_banner" class="bg-light w-100">
        <div class="container-fluid text-light d-flex justify-content-center align-items-center border-0 rounded-0 p-0 py-5">
            <div class="banner-content col-lg-8 m-lg-auto text-center py-5 px-3">
                <h1 class="banner-heading h2 pb-5 typo-space-line-center">Dosya Holding</<h1>
                </h1>
                <h3 class="h4 pb-2 light-300">Один из лучших сайтов по продаже и аренде жилья в городе Бишкек</h3>
                <p class="banner-footer light-300">
                    Здесь могла быть ваша реклама
                </p>
            </div>
        </div>
    </div>
    <!-- End Banner Hero -->

    <!-- Start Work Sigle -->
    <section class="container py-5">

        <div class="row pt-5">
            <div class="worksingle-content col-lg-8 m-auto text-left justify-content-center">
                <h2 class="worksingle-heading h3 pb-3 light-300 typo-space-line">Категория: {{product.category}}</h2>
                <h2 class="worksingle-heading h3 pb-3 light-300 typo-space-line">Название: {{product.title}}</h2>
                <h2 class="worksingle-heading h3 pb-3 light-300 typo-space-line">Локация: {{product.geo}}</h2>
                <h2 class="worksingle-heading h3 pb-3 light-300 typo-space-line">Цена: {{product.price}}</h2>
            </div>
        </div><!-- End Blog Cover -->

        <div class="row justify-content-center pb-4">
            <div class="col-lg-8">
                <div id="templatemo-slide-link-target" class="card mb-3">
                    <img src="{{ product.image.url }}" alt="Car image" class="h-[150px] w-[220px] object-cover">
                </div>
                <div class="worksingle-slide-footer row">

                    <!--Start Controls-->
                    <div class="col-1 align-self-center">
                        <a href="#multi-item-example" role="button" data-bs-slide="prev">
                            <i class='bx bxs-chevron-left bx-sm text-dark'></i>
                        </a>
                    </div>
                    <!--End Controls-->

                    <!--Start Carousel Wrapper-->
                    <div id="multi-item-example" class="col-10 carousel slide" data-bs-ride="carousel">
                        <!--Start Slides-->
                        <div class="carousel-inner" role="listbox">

                            <!--First slide-->
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col">
                                        <a class="templatemo-slide-link" href="./assets/img/work-slide-06.jpg">
                                            <img class="img-fluid border rounded" src="./assets/img/work-slide-06-small.jpg" alt="Product Image">
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a class="templatemo-slide-link" href="./assets/img/work-slide-05.jpg">
                                            <img class="img-fluid border rounded" src="./assets/img/work-slide-05-small.jpg" alt="Product Image">
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a class="templatemo-slide-link" href="./assets/img/work-slide-04.jpg">
                                            <img class="img-fluid border rounded" src="./assets/img/work-slide-04-small.jpg" alt="Product Image">
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a class="templatemo-slide-link" href="./assets/img/work-slide-03.jpg">
                                            <img class="img-fluid border rounded" src="./assets/img/work-slide-03-small.jpg" alt="Product Image">
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a class="templatemo-slide-link" href="./assets/img/work-slide-01.jpg">
                                            <img class="img-fluid border rounded" src="./assets/img/work-slide-01-small.jpg" alt="Product Image">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!--/.First slide-->

                            <!--Second slide-->
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col">
                                        <a class="templatemo-slide-link" href="./assets/img/work-slide-01.jpg">
                                            <img class="img-fluid border rounded" src="./assets/img/work-slide-01-small.jpg" alt="Product Image">
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a class="templatemo-slide-link" href="./assets/img/work-slide-03.jpg">
                                            <img class="img-fluid border rounded" src="./assets/img/work-slide-03-small.jpg" alt="Product Image">
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a class="templatemo-slide-link" href="./assets/img/work-slide-02.jpg">
                                            <img class="img-fluid border rounded" src="./assets/img/work-slide-02-small.jpg" alt="Product Image">
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a class="templatemo-slide-link" href="./assets/img/work-slide-01.jpg">
                                            <img class="img-fluid border rounded" src="./assets/img/work-slide-01-small.jpg" alt="Product Image">
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a class="templatemo-slide-link" href="./assets/img/work-slide-06.jpg">
                                            <img class="img-fluid border rounded" src="./assets/img/work-slide-06-small.jpg" alt="Product Image">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!--/.Second slide-->

                            <!--Second slide-->
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col">
                                        <a class="templatemo-slide-link" href="./assets/img/work-slide-01.jpg">
                                            <img class="img-fluid border rounded" src="./assets/img/work-slide-01-small.jpg" alt="Product Image">
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a class="templatemo-slide-link" href="./assets/img/work-slide-03.jpg">
                                            <img class="img-fluid border rounded" src="./assets/img/work-slide-03-small.jpg" alt="Product Image">
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a class="templatemo-slide-link" href="./assets/img/work-slide-02.jpg">
                                            <img class="img-fluid border rounded" src="./assets/img/work-slide-02-small.jpg" alt="Product Image">
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a class="templatemo-slide-link" href="./assets/img/work-slide-01.jpg">
                                            <img class="img-fluid border rounded" src="./assets/img/work-slide-01-small.jpg" alt="Product Image">
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a class="templatemo-slide-link" href="./assets/img/work-slide-06.jpg">
                                            <img class="img-fluid border rounded" src="./assets/img/work-slide-06-small.jpg" alt="Product Image">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!--/.Second slide-->

                        </div>
                        <!--End Slides-->
                    </div>
                    <!--End Carousel Wrapper-->

                    <!--Start Controls-->
                    <div class="col-1 align-self-center text-end">
                        <a href="#multi-item-example" role="button" data-bs-slide="next">
                            <i class='bx bxs-chevron-right bx-sm text-dark'></i>
                        </a>
                    </div>
                    <!--End Controls-->

                </div>
            </div>
        </div><!-- End Slider -->



        <div class="row justify-content-center">
    {% for product in products %}
        <div class="col-lg-8 pt-4 pb-4">
            <div class="ratio ratio-16x9">
                <iframe
                    class="embed-responsive-item"
                    src="{{ product.promo_video.url }}"
                    title="{{ product.title }}"
                    allowfullscreen>
                </iframe>
            </div>
        </div>
    {% endfor %}
</div><!-- End Video -->


        <div class="row justify-content-center">
            <div class="col-lg-8 ml-auto mr-auto pt-3 pb-4">
                <p class="text-muted light-300">
                    Описание: {{product.description}}


                </p>
            </div>
        </div>
        <!-- End Work Sigle -->

        <!-- Start Comment -->
        <div class="row justify-content-center">
            <div class="worksingle-comment-heading col-8 m-auto pb-3">
                <h4 class="h5">Comments</h4>
            </div>
        </div>
        {% for feedback in product.feedback.all %}
        <div class="row pb-4">
            <div class="worksingle-comment-body col-md-8 m-auto">
                <div class="d-flex">
                    <div>
                        <img class="rounded-circle" src="{% static '/assets/img/team-05.jpg'%}" style="width: 50px;">
                    </div>
                    <div class="comment-body">
                        <div class="comment-header d-flex justify-content-between ms-3">
                            <div class="header text-start">
                                <h5 class="h6">{{ feedback.user.username }}</h5>
                                <p class="text-muted light-300">{{ feedback.created_at|timesince }} назад</p>
                            </div>
                            <a href="#" class="text-decoration-none text-secondary" data-bs-toggle="modal" data-bs-target="#replyModal" data-feedback-id="{{ feedback.id }}">
                                <i class='bx bxs-share me-2'></i>Reply
                            </a>
                        </div>
                        <div class="footer">
                            <div class="card-body border ms-3 light-300">
                                {{ feedback.comment }}
                            </div>
                        </div>
                        <div class="feedback-responses ms-5 mt-3">
                    {% for response in feedback.feedback_responses.all %}
                    <div class="card card-response p-3 mb-2">
                        <div class="d-flex justify-content-between">
                            <strong>{{ response.user.username }}</strong>
                            <small class="text-muted">{{ response.created_at|timesince }} назад</small>
                        </div>
                        <p class="mb-0">{{ response.comment }}</p>
                    </div>
                    {% empty %}
                    <!-- Если ответов нет, можно ничего не показывать -->
                    {% endfor %}
                </div>
                    </div>
                </div>
            </div>
        </div><!-- End Comment -->
        {% endfor %}
        <div class="row pb-4">
            <div class="worksingle-comment-footer col-lg-8 m-auto">
                <h4 class="h5">Leave Comment</h4>
                <form class="col-md-12 m-auto" method="POST" action="{% url 'feedback_create' product.id %}" role="form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="pb-2 pt-sm-0 pt-4 light-300" for="inputmessage">Комментарий</label>
                        <textarea class="form-control form-control-lg light-300" id="inputmessage" name="comment" placeholder="Your Comment" rows="5"></textarea>
                    </div>
                    <div class="form-row pt-2">
                        <div class="col-md-12 col-10 text-end">

                            <button type="submit" class="btn btn-secondary text-white px-md-4 px-2 py-md-3 py-1 radius-0 light-300">Отправить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- End Comment Form -->
    </section>
    <!-- End Work Sigle -->
    <div class="modal fade" id="replyModal" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Reply to Comment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="replyForm" method="post" action="" role="form">
          {% csrf_token %}
          <!-- если на бэкенде принимаете parent_id -->
          <input type="hidden" name="parent_id" id="parent_id" value="">
          <div class="form-group">
            <label for="modalMessage">Your Reply</label>
            <textarea
              class="form-control form-control-lg"
              id="modalMessage"
              name="comment"
              rows="5"
              placeholder="Your reply…"
            ></textarea>
          </div>
          <button type="submit" class="btn btn-primary mt-3">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</div>
    <!-- Start Related Post -->
    <article class="container-fluid bg-light">
        <div class="container">
            <div class="worksingle-related-header row">
                <h1 class="h2 py-5">Рекомендации</h1>
                <div class="col-md-12 text-left justify-content-center">
                    <div class="row gx-5">
                        {% for recommendations_product in recommendations_products %}
                            <div class="col-sm-6 col-lg-4 mb-5">
                            <a href="{% url 'single_view' recommendations_product.id %}" class="related-content card text-decoration-none overflow-hidden h-100">
                                <img class="related-img card-img-top" src="{{ recommendations_product.image.url }}" alt="Card image cap">
                                <div class="related-body card-body p-4">
                                    <h5 class="card-title h6 m-0 semi-bold-600 text-dark">{{ recommendations_product.title }}</h5>
                                    <p class="card-text pt-2 mb-1 light-300 text-dark">
                                        {{recommendations_product.description}}
                                    </p>
                                    <div class="d-flex justify-content-between">
                                        <span class="text-primary light-300">Read more</span>
                                        <div class="light-300">
                                            <i class='bx-fw bx bx-heart me-1'></i>{{ product_like }}
                                            <i class='bx-fw bx bx-chat    ms-1 me-1'></i>3
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

    </article>
    <!-- End Related Post -->

<script>
document.addEventListener('DOMContentLoaded', function() {
  const textarea = document.getElementById('inputmessage');
  textarea.addEventListener('keydown', function(event) {
    if (event.key === 'Enter' && !event.shiftKey && !event.ctrlKey && !event.altKey) {
      event.preventDefault();
      this.form.submit();
    }
  });

  const replyModalEl = document.getElementById('replyModal');
  replyModalEl.addEventListener('show.bs.modal', event => {
    const btn = event.relatedTarget;
    const feedbackId = btn.getAttribute('data-feedback-id');
    const form = replyModalEl.querySelector('#replyForm');

    // Подставляем URL с product.id и feedback.id
    form.action = `{% url 'feedback_response' 0 %}`.replace('/0/', `/${feedbackId}/`);

    // Или передаём через hidden input (если используешь parent_id)
    replyModalEl.querySelector('#parent_id').value = feedbackId;
  });
});
</script>

{% endblock %}