{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h4>Код отправлен на {{ email }}</h4>
<form method="post">
  {% csrf_token %}
  <input type="text" name="code" placeholder="Введите код из письма" required>
  <button type="submit">Подтвердить</button>
</form>
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/templatemo.js' %}"></script>
<script src="{% static 'assets/js/custom.js' %}"></script>
</body>
</html>
